.as-header
  width: 100%
  height: 100px
  background-color: #574437

  .as-header-container
    display: flex
    width: 600px
    height: inherit
    align-items: center
    justify-content: space-between
    margin: 0 auto

    .as-header-title
      width: 177px
      height: 31px
      background-image: url('../images/do-it-now-header.png')
      background-repeat: no-repeat
      background-position: center
      background-size: 100%
      text-indent: -9999px

    .as-user
      color: #f1efa5
      font-size: 16px
      line-height: 45px
      padding-left: 55px
      background-image: url('../images/avatar.png')
      background-repeat: no-repeat
      background-position: center left
